{% extends 'home.html' %}
{% load static %}
{% block content %}
<main class="main">

  </html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECUPREST - Fácil, Seguro y Transparente</title>

  </head>
  <!-- Sección Principal  -->
  <section id="Inicio" class="hero section" data-images='[
    
    "{% static "img/index-fullscreen.jpg" %}",
    "{% static "img/fondo-.jpg" %}",
    "{% static "img/fondo-1.jpg" %}",
    "{% static "img/fondo-2.jpg" %}"
  ]'>
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 class="animado izquierda"><br>ECUPREST</h1>
          <h1 class="animado izquierda">Tú aliado en el camino al éxito</h1>
          <p class="animado izquierda">Los Interes más bajos del mercado</p>
          <div class="d-flex animado izquierda centro">
            <a href="#Calculadora" class="btn-get-started">Simula Tu Préstamo</a>
          </div>
        </div>
        <!-- Eliminar la columna de imagen ya que ahora es el fondo -->
      </div>
    </div>
  </section>

  <!-- Sección Nosotros -->
  <section id="Nosotros" class="about section">
    <div class="container section-title" data-aos="fade-up">
      <h2 class="animado abajo">ECUPREST</h2>
      <p> </p>
    </div>
    <div class="container">
      <div class="row gy-5">
        <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
          <h3 class="animado izquierda">¿Por qué Escoger Nuestra Empresa?</h3>
          <p class="animado izquierda">
            Somos líder en servicios financieros fomentamos flexibilidad y
            rapidez, cubriendo necesidades y generando soluciones a nuestros socios.
          </p>
          <!-- <a href="#" class="about-btn align-self-center align-self-xl-start"><span>About us</span> <i
              class="bi bi-chevron-right"></i></a> -->
        </div>
        <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">
            <div class="col-md-6 icon-box position-relative animado girar">
              <i class="bi bi-calendar-week iii"></i>
              <h4><a class="stretched-link">Plazo Flexible</a></h4>
              <p><b>Rango de Tiempo </b></p>
              <p><b>Proyectos que generan rentabilidad</b></p>
              <p><b>Plazo de hasta 48 meses</b></p>
            </div>
            <div class="col-md-6 icon-box position-relative animado girar">
              <i class="bi bi-cash-coin iii"></i>
              <h4><a class="stretched-link">Sin Comisiones</a></h4>
              <p> <b>Más dinero en tu bolsillo</b> </p>
            </div>
            <div class="col-md-6 icon-box position-relative animado girar">
              <i class="bi bi-cash-stack iii"></i>
              <h4><a class="stretched-link">Crédito VIP PLUS</a></h4>
              <p><b>Linea de Crédito más alta</b></p>
              <p><b>Tasa de interes más bajo</b></p>
            </div>
            <div class="col-md-6 icon-box position-relative animado girar">
              <i class="bi bi-person-video2 iii"></i>
              <h4><a class="stretched-link">Sin Historial Crediticio</a></h4>
              <p><b>Te ayudamos a mejorar tu score crediticio </b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección estadisticas -->
  <div class="process-container">
    <div class="container">
      <div class="row">
        <div class="col-md-3 animado izquierda">
          <div class="process-item">
            <img src="media/ELIGE.png" alt="Elige">
            <h3>Elige</h3>
            <p>El producto que necesitas (Auto, Casa, Camión, Terreno, Maquinaria o cualquiera de nuestro catálogo)</p>
          </div>
        </div>
        <div class="col-md-3 animado arriba">
          <div class="process-item">
            <img src="media/DEFINIR.png" alt="Define">
            <h3>Define</h3>
            <p>Tu plan personalizado, con opciones de entrada y entrega.</p>
          </div>
        </div>
        <div class="col-md-3 animado abajo">
          <div class="process-item">
            <img src="media/CUMPLE.png" alt="Cumple">
            <h3>Cumple</h3>
            <p>Con tus pagos mensuales acorde al plan elegido.</p>
          </div>
        </div>
        <div class="col-md-3 animado derecha">
          <div class="process-item">
            <img src="media/DISFRUTA.png" alt="Disfruta">
            <h3>Disfruta</h3>
            <p>De tu nueva casa, carro, camión, terreno, maquinario o eso que siempre soñaste.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección de Acerca de ECUPREST -->
  <section id="stats" class="section stats">
    <div class="container" data-aos="fade-up">
      <div class="row align-items-center gy-4">
        <div class="col-lg-4 text-center">
          <img src="media/iconos/logo_empresa.png" alt="Logo ECUPREST" class="img-fluid" style="max-width: 500px;">
        </div>
        <div class="col-lg-8">
          <h6 style="text-transform: uppercase; font-weight: 600; letter-spacing: 1px;">Acerca de</h6>
          <h2 style="font-size: 2.8rem; font-weight: 700; margin-bottom: 20px;">ECUPREST</h2>
          <p style="font-size: 1.1rem; line-height: 1.8; color: white">
            Ofrecemos soluciones financieras accesibles y rápidas. Nuestro compromiso es apoyarte con préstamos
            adaptados a tus necesidades, brindando confianza, seguridad y transparencia en cada paso del proceso.
          </p>
        </div>
      </div>
    </div>
  </section>


  <!-- Aplicativo -->
  <section id="Solicitar" class="services section">
    <div class="container section-title" data-aos="fade-up">
      <h2 class="animado abajo">¿Cómo Solicitar?</h2>
      <p class="animado abajo">Tu solicitud, nuestra prioridad. Así de simple</p>
    </div>
    <div class="container">
      <div class="row gy-4" style="justify-content: space-around; align-items: flex-start;">
        <div class="col-xl-3 col-md-6 d-flex animado abajo" data-aos-delay="100">
          <div class="service-item position-relative">
            <i class="bi bi-envelope-check-fill"></i>
            <h4><a class="stretched-link">Envia tu Solicitud</a></h4>
            <p>Escríbenos a nuestro Whatsapp o Correo para que nuestros asesores tomen tu caso. No tienes que presentar
              ningún tipo de garante ni aval.</p>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 d-flex animado abajo" data-aos-delay="200">
          <div class="service-item position-relative">
            <i class="bi bi-person-vcard"></i>
            <h4><a class="stretched-link">Envia la documentación</a></h4>
            <p>Envia tu documento de identidad, ingresos, situación laboral y patrimonial al formulario de solicitud.
              Pueden variar según el monto y objetivo del credito </p>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 d-flex animado abajo" data-aos-delay="300">
          <div class="service-item position-relative">
            <i class="bi bi-folder-check"></i>
            <h4><a class="stretched-link">Validación</a></h4>
            <p>En cuestión de horas nuestro equipo validará tu solicitud y te informará para que firmes el contrato y
              recibas de manera inmediata el desembolso del préstamo.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección Requisitos -->
  <section id="Requisitos" class="alt-services section">
    <div class="container section-title" data-aos="fade-up">
      <h2 class="animado abajo">Requisitos</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-6 animado zoom" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="img">
              <img src="{% static 'img/services-1.jpg'%}" class="img-fluid" alt="" style="opacity: 85%;">
            </div>
            <div class="details">
              <h3>Empleados y Servidores públicos</h3>
              <ul style="list-style-type: none;">
                <li>1 Copia de Cédula</li>
                <li>1 Copia de la papeleta de votación </li>
                <li>1 planilla de servicio básico</li>
                <li>3 fotos tamaño carnet</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 animado zoom" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="img">
              <img src="{% static 'img/services-2.jpg'%}" class="img-fluid" alt="" style="opacity: 85%;">
            </div>
            <div class="details">
              <h3>Empresarios e Independientes</h3>
              <ul style="list-style-type: none;">
                <li>1 Copia de Cédula</li>
                <li>1 Copia de la papeleta de votación </li>
                <li>1 planilla de servicio básico</li>
                <li>1 Copia del RUC o RISE</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Seccion Testimonios -->
  <section id="testimonials" class="testimonials section light-background">
    <div class="container section-title" data-aos="fade-up">
      <h2 class="animado abajo">Testimonios</h2>
      <p class="animado abajo">La Experiencia de Quienes Confían en Nosotros.</p>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 2,
                  "spaceBetween": 20
                }
              }
            }
          </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-wrap animado izquierda">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonial-1.png'%}" class="testimonial-img" alt="">
                <h3>Santiago Jiménez</h3>
                <h4>Emprenderor Independiente</h4>
                <div class="starsc">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Desde el primer momento, sentí que estaba en manos expertas.
                    Su profesionalismo y dedicación me dieron la tranquilidad de saber que mis necesidades eran su
                    prioridad</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-wrap animado derecha">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonial-2.jpg'%}" class="testimonial-img" alt="">
                <h3>Ariel Mendoza</h3>
                <h4>Fotógrafo</h4>
                <div class="starsc">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>La confianza que deposité en Ecuprest
                    fue recompensada con resultados que superaron mis expectativas.
                    Su integridad es un valor fundamental.
                    Su equipo es profesional, atento y siempre dispuesto a ayudar.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section>

  <!--  Seccion Calculadora -->
  <section id="Calculadora" class="credit-calculator section">
    <div class="container section-title" data-aos="fade-up">
      <h2>Calcula tu crédito</h2>
    </div>

    <div class="container">
      <div class="calculator-form">
        <form id="loan-form">
          <div class="form-group">
            <label for="date">Fecha:</label>
            <input type="date" id="date" name="date">
          </div>
          <div class="form-group">
            <label for="amount">Monto:</label>
            <input type="number" id="amount" name="amount" placeholder="monto">
          </div>
          <div class="form-group">
            <label for="payment-period">Periodo de pago:</label>
            <select id="payment-period" name="payment-period">
              <option value="semanal">semanal</option>
              <option value="mensual">mensual</option>
            </select>
          </div>
          <div class="form-group">
            <label for="interest">Interés (anual):</label>
            <input type="number" id="interest" name="interest" placeholder="interés">
          </div>
          <div class="form-group">
            <label>Plazo:</label>
            <div>
              <input type="number" id="term-length" name="term-length" placeholder="Número">
              <select id="term-unit" name="term-unit">
                <option value="meses">Meses</option>
                <option value="años">Año/s</option>
              </select>
            </div>
          </div>

          <button type="button" class="simulate-btn" onclick="simulateLoan()">Simular préstamo</button>
        </form>
      </div>

      <div class="amortization-table">
        <h3>Tabla de amortizaciones</h3>
        <div class="table-responsive">
          <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>Fecha</th>
                <th>Mensualidad</th>
                <th>Intereses</th>
                <th>Impuestos</th>
                <th>Capital</th>
                <th>Insoluto</th>
              </tr>
            </thead>
            <tbody id="amortization-table-body">
              <!-- Las filas de amortización se generarán aquí -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <script>
    function simulateLoan() {
      const amount = parseFloat(document.getElementById('amount').value);
      const annualInterest = parseFloat(document.getElementById('interest').value) / 100;
      const paymentPeriod = document.getElementById('payment-period').value;
      const termLength = parseInt(document.getElementById('term-length').value);
      const termUnit = document.getElementById('term-unit').value;
      const dateInput = document.getElementById('date').value;
      const startDate = new Date(dateInput + 'T00:00:00');
      if (isNaN(amount) || isNaN(annualInterest) || isNaN(termLength) || isNaN(startDate.getTime())) {
        alert("Por favor, completa todos los campos con valores válidos.");
        return;
      }

      let paymentsPerYear;
      if (paymentPeriod === 'semanal') paymentsPerYear = 52;
      else paymentsPerYear = 12;

      const interestRate = annualInterest / paymentsPerYear;

      let totalPayments;
      console.log(termUnit);
      if (termUnit === 'años') {
        totalPayments = termLength * paymentsPerYear;
      } else if (termUnit === 'meses') {
        if (paymentPeriod === 'semanal') {
          // Para pagos semanales: aproximadamente 4.33 semanas por mes
          totalPayments = termLength * (52 / 12);
        } else {
          // Para pagos mensuales
          totalPayments = termLength;
        }
      }

      const monthlyPayment = (amount * interestRate) / (1 - Math.pow(1 + interestRate, -totalPayments));

      const tableBody = document.getElementById('amortization-table-body');
      tableBody.innerHTML = '';

      let balance = amount;
      let paymentDate = new Date(startDate);

      for (let i = 1; i <= totalPayments; i++) {
        const interestPayment = balance * interestRate;
        const capitalPayment = monthlyPayment - interestPayment;
        balance -= capitalPayment;

        const row = document.createElement('tr');
        row.innerHTML = `
        <td>${i}</td>
        <td>${paymentDate.toLocaleDateString()}</td>
        <td>$${monthlyPayment.toFixed(2)}</td>
        <td>$${interestPayment.toFixed(2)}</td>
        <td>$0.00</td>
        <td>$${capitalPayment.toFixed(2)}</td>
        <td>$${balance.toFixed(2)}</td>
      `;
        tableBody.appendChild(row);

        if (paymentPeriod === 'semanal') paymentDate.setDate(paymentDate.getDate() + 7);
        else if (paymentPeriod === 'quincenal') paymentDate.setDate(paymentDate.getDate() + 14);
        else paymentDate.setMonth(paymentDate.getMonth() + 1);

        if (balance <= 0) break;
      }
    }
  </script>

  <!-- Sección Logos -->
  <section id="clients" class="clients section light-background">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        {% for icono in iconos %}
        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="{{ icono.img.url }}" class="img-fluid" alt="Icono">
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Sección Preguntas -->
  <section id="faq" class="faq section light-background">
    <div class="container section-title" data-aos="fade-up">
      <h2 class="animado abajo">Preguntas Frecuentes</h2>
      <p class="animado abajo">Si tienes alguna duda, aqui las resolvemos</p>
    </div>
    <div class="container">
      <div class="row faq-item animado izquierda" data-aos-delay="100">
        <div class="col-lg-5 d-flex">
          <i class="bi bi-question-circle"></i>
          <h4>¿Cuáles son las tasas de interés y los plazos de pago?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            - Tasa de interés: 10%
          </p>
          <p>- Plazos de pago: desde 12 hasta 48 meses, dependiendo del monto solicitado</p>
        </div>
      </div>

      <div class="row faq-item animado derecha" data-aos-delay="200">
        <div class="col-lg-5 d-flex">
          <i class="bi bi-question-circle"></i>
          <h4>¿Puedo pagar mi crédito antes de tiempo sin penalizaciones?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Sí, puedes pagar tu crédito antes de tiempo sin ningún problema
          </p>
        </div>
      </div>
      <div class="row faq-item animado izquierda" data-aos-delay="200">
        <div class="col-lg-5 d-flex">
          <i class="bi bi-question-circle"></i>
          <h4>¿Cuál es el monto máximo que puedo solicitar?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            El monto depende de la verificación de tu historial crediticio.
            Los montos solicitados pueden variar desde $2,000 hasta $50,000.
          </p>
        </div>
      </div>
      <div class="row faq-item animado derecha" data-aos-delay="200">
        <div class="col-lg-5 d-flex">
          <i class="bi bi-question-circle"></i>
          <h4>¿Puedo solicitar un crédito si tengo un historial crediticio negativo?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            No hay problema, ayudamos a nuestros socios a mejorar su historial crediticio
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección Contacto -->
  <section id="Contacto" class="contact section">
    <div class="container section-title" data-aos="fade-up">
      <h2 class="animado abajo">Contáctanos</h2>
      <p class="animado abajo">Ven y visítanos</p>
    </div>
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-5">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div class="animado izquierda">
              <h3>Dirección</h3>
              <p>Av. 6 de Diciembre y Orellana, Edificio Pérez Guarderas, N26-202</p>
            </div>
          </div>
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div class="animado izquierda">
              <h3>Teléfono</h3>
              <p>096 257 9348</p>
            </div>
          </div>
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div class="animado izquierda">
              <h3>Correo Electronico</h3>
              <p>info@example.com</p>
            </div>
          </div>
          <div class="info-item d-flex animado abajo" data-aos-delay="400">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7941631855565!2d-78.48453769999999!3d-0.19938119999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59bf9df525201%3A0xb8ef4fecfb49cd66!2sCorporaci%C3%B3n%20de%20inversiones%20ec!5e0!3m2!1ses-419!2sec!4v1745626455654!5m2!1ses-419!2sec"
              frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-lg-7">
          <form id="contactForm" class="php-email-form animado derecha" data-aos-delay="500">
            {% csrf_token %}
            <div class="row gy-4">
              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Nombre" required>
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" name="email" placeholder="Correo" required>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Asunto" required>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required></textarea>
              </div>
              <div class="col-md-12 text-center">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu Mensaje fue enviado con éxito. ¡Muchas Gracias!</div>
                <button type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>
</main>
{% endblock%}